$('#dashboard_entry').text("");
$('#dashboard_entry').append($('<div>').attr('id','entry_detail_<%=@entry.id%>').attr('class','entry_details'));
$('#entry_detail_<%=@entry.id%>').append("<h1 class='entry_detail_header'><a href='<%=@entry.url%>' target='_blank'><%=j raw @entry.title%></a></h1>");
$('#entry_detail_<%=@entry.id%>').append("<hr>");
$('#entry_detail_<%=@entry.id%>').append("<p class='entry_detail_date'><%=j raw @entry.date%></p>");
$('#entry_detail_<%=@entry.id%>').append("<p class='entry_detail_name'><%=j raw @feedname%></p>");
$('#entry_detail_<%=@entry.id%>').append("<hr>");
$('#entry_detail_<%=@entry.id%>').append("<div class='entry_detail_text'><%=j raw @entry.content%></div>");

$.ajax({
      type: "post",
      url: "/entries/<%= @entry.id %>/mark_as_read"
});