
<%#<p>Your are logged in! <%=@current_user.email%></p>
<%#<%= link_to "Logout", destroy_user_session_path, method: :delete%>

<div id="dashboard_wrapper">

	<div id="dashboard_top">
		
	</div>
	<div id="dashboard_action_notification" hidden="true"><p></p></div>
		
	<div id="dashborad_subscription_form">		
		<%=render "subscriptions/new" %>
		<div id="dashboard_action_spinner"></div>
	</div>
	
	<div id="dashborad_options">
		<%= link_to "Log out", destroy_session_path(:user), :method => :delete %>
	</div>
	
	<div id="dashboard_subscriptions">		
	
		<%=render "subscriptions/list", collection: @user_subscriptions%>
	</div>
	<div id="dashboard_entries">
		<ul id="dashboard_entries_list"></ul>
	</div>
	<div id="dashboard_entry">

	</div>
	<div id="multi_subscription_selection_dialog">
	</div>

</div>